/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.container {
  padding: 20px;
}

nav {
  background-color: #282c34;
  padding: 12px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
